includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8

    paths:
        - app
        - bootstrap
        - database/seeders

    excludePaths:
        - app/Modules/*/Infrastructure/*   # Eloquent internals arrive with phase 1+
